* {
  box-sizing: border-box;
}

body {
  background: #f7f7f7;
}

.wrapper {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  padding: 0px 0px 30px;
}

.app-layout {
  position: relative;
  height: calc(100vh - 100px);
  min-height: 400px;
  /* overflow-y: scroll; */
}

.page-header {
  position: relative;
  padding: 25px 20px;
  border-bottom: 2px solid #d1d1d1;
}

.bottom-nav {
  position: fixed;
  width: 100%;
  max-width: 600px;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  border-top: 2px solid #d1d1d1;
  background: #f7f7f7;
}

.bottom-nav a {
  text-decoration: none;
  color: #7C8083;
}

.bottom-nav-link {
  position: relative;
  width: 33.333%;
  height: 44px;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 500;
  font-family: 'Roboto';
  text-decoration: none;
  transition: ease-out 0.15s;
}

/* .bottom-nav-link.current-link::after {
  position: absolute;
  content: '';
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  border: 8px solid transparent;
  border-bottom: 8px solid #000;
} */

.bottom-link-icon {
  color: #7C8083;
  margin-right: 4px;
}

.current-link .bottom-link-icon,
.current-link .bottom-link-label {
  color: #4B89DC;
}

.add-form {
  min-height: 90px;
  padding: 60px 30px 30px 30px;
  border-radius: 8px 8px 0px 0px;
}

.add-form-row {
  margin-bottom: 15px;
}

.add-form-wrapper {
  max-width: 380px;
  margin: 0 auto;
}

.add-form-input {
  margin-bottom: 30px;
}

.app-tab-item {
  width: 33.333%;
  min-height: 38px;
}

.row {
  font-size: 0;
}

.row-item {
  font-size: 14px;
  display: block;
  width: 100%;
  margin: 0 20px 20px 0;
  padding: 0 10px;
}

.list-item {
  position: relative;
  padding: 12px 90px 12px 20px;
  margin: 0 0 8px;
  border-bottom: 1px solid #d1d1d1;
}

.list-item-icons {
  position: absolute;
  right: 20px;
  top: 10px;
}


@media only screen and (min-width: 500px) {
  .app-layout {
    box-shadow: 0 15px 100px 0 rgba(0,0,0, .2);
    margin: 70px auto 0px;
    border-radius: 4px;
    
  }  
  .bottom-nav {
    top: 0;
    bottom: auto;
    border-radius: 0px 0px 4px 4px;
  }
}

@media only screen and (max-width: 500px) {
  .bottom-nav-link {
    height: 50px;
  }
  .bottom-link-icon {
    font-size: 28px !important;
  }
  .bottom-link-label {
    display: none;
  }
}
